.align_home
{
	margin-top: 19px;
	margin-bottom: 21px;
}
.align_logout
{
	margin-top: 19px;
	margin-bottom: 21px;
}
.table
		{
			width: 90%;
			
		}

th.hover:hover
		{
			background-color: rgb(220,220,220);
			cursor: hand;
		}
		
body 
	{
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

  main 
	{
		flex: 1 0 auto;
	}
		
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: proxima-nova;
	src: url(ccf-fonts/proxima/PROXIMANOVA-BOLD.otf);
	font-weight: bold;
}

@font-face {
	font-family: futura;
	src: url('ccf-fonts/futura/FUTURA-T-OT-BOOK.TTF');
}

a {
    font-family: proxima-nova;
    color: #16A5B8;
    font-size: 13px;
}